/* Debug code */
article {
  border: solid 2px red;
}

img {
  border: dotted 2px black;
}

p {
  border: dotted 2px green;
  

}


/* Basislayout */
* {
  overflow: auto;
  box-sizing: border-box;
}
html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(255, 248, 240);  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
      padding-left: 10px;
padding-right: 10px;

}




header {
    color: rgb(241, 165, 0);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

/*
img.links {
    float: left;
    margin-right: 15px;
    margin-left: 10px;
    width: calc( 100% - 10px - 15px);
    
}

img.rechts {
    float: right;
    margin-left: 15px;
    margin-right: 10px;
    
}

img.midden {
display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  
}
  */
  

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgba(255, 174, 0, 0.5);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
  padding:5px;
 margin: 5px;
}

.plaatjelinksboven {
  float: left;

  width: calc( 40% - 10px)
}
.plaatjerechts {
  float: right ;

  width: calc( 40% - 10px);
}
img {
  width:100%;
  }

.plaatjemidden {
  padding: 10px;
}
.tekstrechtsboven {
  float: right ;
  width: calc( 60% - 10px);
}

.tekstlinks {
  float: left;
  width: calc( 60% - 10px);
}

.tekst {
  
}
/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: rgba(255, 174, 0, 0.5);
}




